<%= form_with(model: sauna, local: true) do |form| %>
  <% if sauna.errors.any? %>
    <div class="alert alert-danger" role="alart">
      送信の失敗しました。<br>入力内容を再度ごかく人下さい。
    </div>
  <% end %>

  <div class="form-container">
    <div class="form-group">
      <%= form.label :sauna_name, "施設名", class: "form-label" %>
      <%= form.text_field :sauna_name, autofocus: true, class: 'form-control from-color', placeholder: "施設名" %>
    </div>

    <div class="field">
      <%= form.label :picture %>
      <%= form.text_field :picture %>
    </div>

    <div class="field">
      <%= form.label :area %>
      <%= form.text_field :area %>
    </div>

    <div class="form-group">
      <%= form.label :address, "住所", class: "form-label" %>
      <%= form.text_field :address, autofocus: true, class: 'form-control from-color', placeholder: "住所" %>
    </div>

    <div class="form-group">
      <%= form.label :phone, "電話番号", class: "form-label" %>
      <%= form.text_field :phone, autofocus: true, class: 'form-control from-color', placeholder: "電話番号" %>
    </div>

    <div class="form-group">
      <%= form.label :business_hours, "営業時間", class: "form-label" %>
      <%= form.text_area :business_hours, autofocus: true, class: 'form-control from-color', style: "resize: none;", placeholder: "営業時間", rows: "5" %>
    </div>

    <div style="display: flex; color: #212529;">
      <p style="font-size: 16px; display: block; padding-right: 24px; font-weight: 700 !important;">男湯</p>
      <div class="form-check form-check-inline">
        <%= form.check_box :man_not_exist, class: "form-check-input" %>
        <%= form.label :man_not_exist, "男湯はない", class: "form-check-label form-label", style: "font-size: 12px; font-weight: 500 !important;" %>
      </div>
    </div>

    <div style="padding: 0 16px">
      <div class="form-group">
        <%= form.label :man_sauna_temp, "サウナの温度は？（1〜999）", class: "form-label" %>
        <div style="display: flex; padding-right: 200px;">
          <%= form.number_field :man_sauna_temp, autofocus: true, class: 'form-control from-color', placeholder: "100" %>
          <p class="set_temp">度</p>
        </div>
      </div>
    </div>

    <div style="padding: 0 16px">
      <div class="form-group">
        <%= form.label :man_water_temp, "水風呂の温度は？（1〜100）", class: "form-label" %>
        <div style="display: flex; padding-right: 200px;">
          <%= form.number_field :man_water_temp, autofocus: true, class: 'form-control from-color', placeholder: "20" %>
          <p class="set_temp">度</p>
        </div>
      </div>
    </div>

    <div style="display: flex; color: #212529;">
      <p style="font-size: 16px; display: block; padding-right: 24px; font-weight: 700 !important;">女湯</p>
      <div class="form-check form-check-inline">
        <%= form.check_box :woman_not_exist, class: "form-check-input" %>
        <%= form.label :woman_not_exist, "女湯はない", class: "form-check-label form-label", style: "font-size: 12px; font-weight: 500 !important;" %>
      </div>
    </div>

    <div style="padding: 0 16px">
      <div class="form-group">
        <%= form.label :woman_sauna_temp, "サウナの温度は？（1〜999）", class: "form-label" %>
        <div style="display: flex; padding-right: 200px;">
          <%= form.number_field :woman_sauna_temp, autofocus: true, class: 'form-control from-color', placeholder: "100" %>
          <p class="set_temp">度</p>
        </div>
      </div>
    </div>

    <div style="padding: 0 16px">
      <div class="form-group">
        <%= form.label :woman_water_temp, "水風呂の温度は？（1〜100）", class: "form-label" %>
        <div style="display: flex; padding-right: 200px;">
          <%= form.number_field :woman_water_temp, autofocus: true, class: 'form-control from-color', placeholder: "20" %>
          <p class="set_temp">度</p>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= form.submit "送信する", style: "margin-bottom: 16px;", class: "btn btn-primary blue-btn mx-auto d-block center-block" %>
  </div>
<% end %>
</div>
