<p id="notice"><%= notice %></p>

<h1>Saunas</h1>

<table>
  <thead>
    <tr>
      <th>Sauna name</th>
      <th>Picture</th>
      <th>Area</th>
      <th>Address</th>
      <th>Business hours</th>
      <th>Phone</th>
      <th>Man not exist</th>
      <th>Woman not exist</th>
      <th>Man sauna temp</th>
      <th>Woman sauna temp</th>
      <th>Man water temp</th>
      <th>Woman water temp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saunas.each do |sauna| %>
      <tr>
        <td><%= sauna.sauna_name %></td>
        <td><%= sauna.picture %></td>
        <td><%= sauna.area %></td>
        <td><%= sauna.address %></td>
        <td><%= sauna.business_hours %></td>
        <td><%= sauna.phone %></td>
        <td><%= sauna.man_not_exist %></td>
        <td><%= sauna.woman_not_exist %></td>
        <td><%= sauna.man_sauna_temp %></td>
        <td><%= sauna.woman_sauna_temp %></td>
        <td><%= sauna.man_water_temp %></td>
        <td><%= sauna.woman_water_temp %></td>
        <td><%= link_to 'Show', sauna %></td>
        <td><%= link_to 'Edit', edit_sauna_path(sauna) %></td>
        <td><%= link_to 'Destroy', sauna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sauna', new_sauna_path %>
