<% if @sauna.picture.attached? %>
  <% set_meta_tags title: @sauna.sauna_name + "｜" + "俺のサウナ", og: {image: @sauna.picture} %>
<% else %>
  <% set_meta_tags title: @sauna.sauna_name + "｜" + "俺のサウナ" %>
<% end %>

<div id="spot_top_photo" class="w-100">
  <% if @sauna.picture.attached? %>
    <%= image_tag @sauna.picture, class: "spot_photo" %>
  <% else %>
    <%= image_tag "noimage.png" , height: '240', style: "object-fit: cover; width: 100%;"%>
  <% end %>
</div>

<h2 style="font-weight: 700; font-size:24px; padding-top: 16px; padding-left:16px; padding-right:16px; word-wrap: break-all;">
	<%= @sauna.sauna_name %>
</h2>

<p style="color: #868686; font-size:12px; padding-top: 8px; padding-left:16px;">
	<%= @sauna.area.area_name %>駅
</p>

<% if saunner_signed_in? %>
  <%= link_to "サ活を記録する", new_sauna_report_path(@sauna), class: "btn btn-primary orange-btn", style: "font-weight: 700; margin-left: 16px; margin-top: 6px;", data: {"turbolinks" => false}%>
<% else %>
  <div class= "btn btn-primary orange-btn" style= "font-weight: 700; margin-left: 16px; margin-top: 6px;" data-toggle="modal" data-target="#exampleModal3">
    サ活を記録する
  </div>
<% end %>


<% if @sauna.man_not_exist == false %>
  <div style="font-weight: 700; font-size: 16px; color:#5CC0EF; padding-top: 16px; padding-left: 16px;">男湯</div>

  <div style="width: 100%; height: 56px; display: flex; margin-top: 8px;">
    <div class="sauna_box">
      <div class="box_content content_top">
        サウナ
      </div>
      <div class="box_content content_bottom">
        <% unless @sauna.man_sauna_temp.nil? then %>
          <%= @sauna.man_sauna_temp %>度
        <% else %>
          -
        <% end %>
      </div>
    </div>
    <div class="water_box">
      <div class="box_content content_top">
        水風呂
      </div>
      <div class="box_content content_bottom">
        <% unless @sauna.man_water_temp.nil? then %>
          <%= @sauna.man_water_temp %>度
        <% else %>
          -
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<% if @sauna.woman_not_exist == false %>
  <div style="font-weight: 700; font-size: 16px; color: #F9A638CC; padding-top: 16px; padding-left: 16px;">女湯</div>

  <div class="sauna_water_container">
    <div class="sauna_box">
      <div class="box_content content_top">
        サウナ
      </div>
      <div class="box_content content_bottom">
        <% unless @sauna.woman_sauna_temp.nil? then %>
          <%= @sauna.woman_sauna_temp %>度
        <% else %>
          -
        <% end %>
      </div>
    </div>
    <div class="water_box">
      <div class="box_content content_top">
        水風呂
      </div>
      <div class="box_content content_bottom">
        <% unless @sauna.woman_water_temp.nil? then %>
          <%= @sauna.woman_water_temp %>度
        <% else %>
          -
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<div class="sauna_data">
  <div style="padding: 8px;">
    <p class="us" style="width: 100%; text-align: center; margin-bottom: 24px;">[基本情報]</p>
    <div style="width: 100%; display: flex; margin-bottom: 8px; line-height: 1.8em;">
      <div class="title us">
        住所
      </div>
      <div class="content us" style="word-wrap: break-word;">
        <% unless @sauna.address.blank? then %>
          <%= @sauna.address %>
        <% else %>
          施設情報の更新にご協力お願いいたします。
        <% end %>
      </div>
    </div>
    <div style="border :solid 1px #868686;"></div>
    <div style="width: 100%; display: flex; margin: 8px 0 8px 0; line-height: 1.8em;">
      <div class="title us">
        TEL
      </div>
      <div class="content us" style="word-wrap: break-word;">
        <% unless @sauna.phone.blank? then %>
          <%= @sauna.phone %>
        <% else %>
          施設情報の更新にご協力お願いいたします。
        <% end %>
      </div>
    </div>
    <div style="border :solid 1px #868686;"></div>
    <div style="width: 100%; display: flex; margin-top: 8px; line-height: 1.8em;">
      <div class="title us">
        営業時間
      </div>
      <div class="content us" style="word-wrap: break-word;">
        <% unless @sauna.business_hours.blank? then %>
          <%= @sauna.business_hours %>
        <% else %>
          施設情報の更新にご協力お願いいたします。
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if saunner_signed_in? %>
  <div style="margin: 16px auto; width: 178px; height:38px;">
    <%= link_to "この施設情報を更新する", edit_sauna_path(@sauna), class: "btn btn-default orange-btn", style: "font-weight: 700;", data: {"turbolinks" => false}%>
  </div>
<% else %>
  <div style="margin: 16px auto; width: 178px; height:38px;">
    <div class= "btn btn-default orange-btn" style= "font-weight: 700;" type="button" data-toggle="modal" data-target="#exampleModal3">
      この施設情報を更新する
    </div>
  </div>
<% end %>

<% if @reports.blank? %>
	<div style="height: 350px; font-weight: 700; font-size: 18px; margin: 16px;">
		まだサ活の報告がありません。
	</div>
<% else %>
  <% @reports.each do |f| %>
    <div class="sakatsu-box">
      <% if @reports.index(f) == 0 %>
      <div style="font-weight: 700; font-size:16px; margin-bottom: 16px;">
        新着サ活報告
      </div>
      <% end %>

      <% if saunner_signed_in? %>
        <%= link_to(saunner_path(f.saunner_id)) do %>
          <div class="profile">
              <% if f.saunner.saunner_image.attached? %>
                <%= image_tag f.saunner.saunner_image, class: "saunner-photo-profile-report" %>
              <% else %>
                <div class="saunner-image">
                </div>
              <% end %>
            <div class="saunner-name">
              <%= f.saunner.user_name %>
            </div>
          </div>
        <% end %>
      <% else %>
          <div type="button" class="profile" data-toggle="modal" data-target="#exampleModal3">
            <div class="saunner-image">
              <% if f.saunner.saunner_image.attached? %>
                <%= image_tag f.saunner.saunner_image, class: "saunner-photo-profile-report" %>
              <% end %>
            </div>
            <div class="saunner-name">
              <%= f.saunner.user_name %>
            </div>
          </div>
          <%= render 'modal' %>
      <% end %>

      <div style="font-size:12px; padding-top: 8px;">
        <%= @areas.find_by(sauna_id: f.sauna_id).area_name %>
      </div>

      <h3 style="font-weight: 700; font-size: 18px; padding-top: 8px;">
        <%= f.sauna.sauna_name %>
      </h3>

      <div class="sauna_water_container">
        <div class="sauna_box">
          <div class="box_content content_top">
            サウナ
          </div>
          <div class="box_content content_bottom">
            <%= f.sauna_rate %>点
          </div>
        </div>
        <div class="water_box">
          <div class="box_content content_top">
            水風呂
          </div>
          <div class="box_content content_bottom">
            <%= f.water_bath_rate %>点
          </div>
        </div>
      </div>

      <div class="comment-title">
        <%= f.title %>
      </div>

      <% unless f.comment.blank? then %>
        <div class="comment">
          <%= f.comment %>
        </div>
      <% end %>

      <% if f.sakatsu_photo.attached? %>
        <div class="sakatsu-top-photo w-100">
          <%= image_tag f.sakatsu_photo, class: "sakatsu-photo" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= paginate @reports %>
